/* modifié par CHEBHED le 17/11/2021 */
// 

@use './variables' as *;
@use './bases' as *;
@use './mixins'as *;
@use './functions' as *;
@use './header' as *;
@use './placeholders' as *;
@use './home' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  
  
  
  



  // <div class="alert alert-success"></div>
  //       Réussi
  //       <div class="alert alert-warning"></div>
  //       Alerte
  //       <div class="alert alert-danger"></div>
  //       Danger
  //       <div class="alert alert-default"></div>
  //       Default

  